body, html {
    /* disable pull-to-refresh */
    overscroll-behavior: contain;
    /* disable default zoom gestures on iOS */
    touch-action: pinch-zoom;
    /* disable text selection (long click on small texts) */
    user-select: none;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

div.main {
    overflow: hidden;
}

.letters {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-auto-rows: 60px;
    gap: 6px;
    margin-top: 20px;
}

.typed-word {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-auto-rows: 40px;
}

.letter {
    position: relative;
}

.letter-score {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-weight: 600;
}

.typed-word  .letter-score {
    color: black;
    font-size: 0.6em;
}

.btn.ico {
    padding-left: 0;
    padding-right: 0;
}

.btn.ico > * {
    vertical-align: middle;
    font-size: 36px;
}

.btn-info {
    color: #fafafa;
}

/* modal dialog component */
.dialog {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    border: none;
}

.dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}
